.run-button {
    width: 100px;
    margin: auto;
    text-align: center;
    padding: 8px 0;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}